@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    align-content: start;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: azure;
}

header, footer {
    width: 100%;
    height: 10%;
}

main{
    position: relative;
    flex-grow: 1;
    height: 80%;
}

nav{
    background: orange;

}

header {
    background: red;
}

main {
    background: rgb(27, 27, 27);
}

footer{
    background: purple;
}