@import url("/TP1/style.css");


main{
  height: 150vh
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "one one two two two three three three"
    "four four four five five five six six"
    "sev sev eigth eigth eigth nine nine nine";
}

.container > *{
  background: palegreen;
  overflow: hidden;
}

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.sev { grid-area: sev; }

.eigth { grid-area: eigth; }

.nine { grid-area: nine; }

      

  img{
    height: 100%;
    

  }
